<h3>{{ _('Email Notifier Configuration') }}</h3>

<form class="form-horizontal">

	<div class="control-group" title="{{ _('Print complete notifications will be sent to this email address.') }}">
		<label class="control-label">{{ _('Recipient Address') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.emailnotifier.recipient_address">
		</div>
	</div>
	
	<h4>{{ _('SMTP Settings') }}</h4>
	
	<p>{{ _('Store your SMTP password securely using your system <a href="https://pypi.python.org/pypi/keyring#what-is-python-keyring-lib">keyring</a>. You can store your password from a Python prompt on your OctoPrint system <a href="https://github.com/kootenpv/yagmail#username-and-password">using <code>yagmail.register</code></a>.') }}</p>
	
	<div class="control-group" title="{{ _('SMTP server.') }}">
		<label class="control-label">{{ _('Server') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.emailnotifier.mail_server">
		</div>	
	</div>
	
	<div class="control-group" title="{{ _('SMTP username. An associated password must be found in the system keyring.') }}">
		<label class="control-label">{{ _('Username') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.emailnotifier.mail_username">
		</div>
	</div>
	
	<h4>{{ _('Message Content') }}</h4>

	<p>Please edit the <code>emailnotifier</code> section of your OctoPrint <code>config.yaml</code> file to configure selected notifications and messages templates.</p>	
	
</form>
